


.ulNavDesktop{
    border-top: 1px solid var(--cor-borda-fina);
    border-bottom: 1px solid var(--cor-borda-fina);
    display: flex;
    justify-content: space-between;
}

.filters{
    margin-right: 2rem;
    text-align: center;
    background: var(--branco);
    color: var(--cinza-raizen);
    border: none;
    font-size: 0.9rem;
    padding: 1rem;
    cursor: pointer;
}

.filters:hover{
    color: var(--magenta-raizen);
}

option{
    width: 60%;
    background: var(--branco);
    color: var(--cinza-raizen);
    font-size: 0.8rem;
}

.liBoxDesktop{
    display: flex;
}

li{
    list-style-type: none;
    padding: 1rem 3rem 1rem 4rem;
}

li a:hover{
    color: var(--magenta-raizen);
}
a{
    text-decoration: none;
    font-size: 1.0rem;
    color: var(--cinza-raizen);
}


table{
    border-collapse: collapse;
    border: 1px solid var(--cor-borda-fina);
    font-size: 0.9rem;
}

tbody,thead{
    text-align: center;
}

thead{
    background-color: var(--roxo-raizen);
    color: var(--branco);
    font-weight: bold;
}

th, td {
    padding: 3px;
    border:  1px solid var(--cor-borda-fina);
}

#nulo{
    color: var(--cinza-raizen);
}
thead td {
    color: var(--branco);
}

thead th {
  background-color: var(--roxo-raizen); /* ou qualquer cor de fundo */
  color: var(--branco); /* cor branca para o texto */
  padding: 0.5rem;
  text-align: center;
}

#teamRaizen{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 4rem;
}
