* {
    margin: 0;
    padding: 0;
}
.sectionLogo{
    display: flex;
    align-items: flex-start;
    width: 100%;
}
.logoCostumer img{
    display: flex;
    justify-content: flex-start;
    width: 50%;
}