
.headerFinalCostumer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.logoCostumer{
    width: 60px;
    height: 40px;
}
.textCompromisso{
    display: flex;
    font-weight: bold;
    font: var(--font-raizen);
}
.linha-horizontal{
    width: 85%;
    border: 3px solid;
    color: var(--cinza-raizen);
}
.list-Products{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0% 5% 0% 5%;
}
.input-lote{
    border-color: var(--roxo-raizen);
    border-width: 1px;
}
.btn-lote{
    background-color: var(--roxo-raizen);
    font: var(--font-raizen);
    color: var(--branco) ;
    left: 52.5%;
    right: 32.57%;
    top: 42.68%;
    bottom: 52.25%;
}
.sectionCard{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: 0% 0% 3% 0%;
}
.product-img{
    width: 100px;
}
.certification-img{
    width: 70px;
}
.textCard{
    font-size: 12px;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}