@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');

:root {
    --roxo-raizen: #781e77;
    --cinza-raizen: #666666;
    --branco: #ffffff;
    --font-raizen: 'Nunito', sans-serif;
    --azul-raizen: #1FC0DA;
    --laranja-raizen: #F47920;
    --magenta-raizen: #ea368e;
    --amarelo-raizen: #FDB515;
}

*{
    padding: 0;
    margin: 0;
}

